<div class="container">
  <div class="row mb-5">
    <nav class="navbar bg-light mt-4">
      <div class="container-fluid">
        <div class="d-flex justify-content-start">
          <a class="navbar-brand">Navbar</a>
          <div class="d-flex  ms-3">
            <input class="form-control me-2" type="text" placeholder="Search" style="width: 400px;"
              [(ngModel)]="searchTerm" (input)="search()">
            <!-- <span>{{searchTerm}}</span> -->
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <a class="btn nav-link px-4 position-relative" routerLink="/shoppingCart"><i class='fas fa-shopping-cart' style='font-size:24px'></i>
            <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" *ngIf="badgeCount">
              {{badgeCount}}
            </span>
          
          </a>

          <a class="nav-link px-4" routerLink="/orderCnf">Orders</a>
        </div>

      </div>
    </nav>

  </div>

  <!-- for card -->
  <div class="row row-cols-1 row-cols-md-4 g-4">

    <div class="col my-5" *ngFor="let product of filterProducts ; let i = index" style="cursor: pointer;">
      <a [routerLink]="['/productDetails' , product.id ]" class="nav-link">
      <div class="card h-100 border-0 px-2">
        <img [src]="product.image" class="card-img-top" width="300px" height="300px" [alt]="product.title">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><span class="badge bg-success">{{product.rating}}<i class='fas fa-star ms-1' style="color: white;font-size: 15px;"></i></span><span class="ms-2">$ {{product.price}}</span></p>
        </div>
      </div>
      </a>
    </div>


  </div>
</div>